* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

main {
  padding-top: 80px;
  background-color: rgb(255, 248, 230);
}

body::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
}
@media (max-width: 768px) {
  body::-webkit-scrollbar {
    width: 5px;
  }
}

body::-webkit-scrollbar-thumb {
  background-color: #FF4E00;
  border-radius: 10px;
}

.shadow-nav {
  transition: 200ms;
  height: 100%;
}

nav {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 100;
  transition: 200ms;
}
nav .nav-mobile {
  display: flex;
  align-items: center;
  transition: 200ms;
  display: none;
}
@media (max-width: 768px) {
  nav .nav-mobile {
    background-color: black;
    display: flex;
    justify-content: space-between;
    transition: 200ms;
  }
}
nav .nav-mobile .a-phone {
  padding-left: 29px;
  transition: 200ms;
  color: white;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-family: "Montserrat";
}
nav .nav-mobile .a-phone:hover {
  transform: scale(1.05);
  transition: 200ms;
  color: #FF4E00;
}
nav .nav-mobile .a-phone:active {
  transform: scale(0.95);
  opacity: 0.5;
  transition: 200ms;
}
nav .nav-mobile .a-logo {
  padding-left: 18px;
  display: flex;
  align-items: center;
  transition: 200ms;
}
nav .nav-mobile .a-logo .logo {
  width: 196px;
}
nav .nav-mobile .a-logo .logo:hover {
  transform: scale(1.05);
  transition: 200ms;
}
nav .nav-mobile .a-logo .logo:active {
  transform: scale(0.95);
  opacity: 0.5;
  transition: 200ms;
}
nav .nav-mobile .box-menuAndBasket {
  display: flex;
}
nav .nav-mobile .box-menuAndBasket .btn-menu-open,
nav .nav-mobile .box-menuAndBasket .btn-menu-close {
  transition: 200ms;
  border: none;
  width: 70px;
  height: 80px;
}
nav .nav-mobile .box-menuAndBasket .btn-menu-close {
  background-color: transparent;
}
nav .nav-mobile .box-menuAndBasket .btn-menu-close .menu-icon {
  font-size: 55px;
  color: white;
  cursor: pointer;
}
nav .nav-mobile .box-menuAndBasket .btn-menu-close .menu-icon:hover {
  transform: scale(1.05);
  transition: 200ms;
  color: #FF4E00;
}
nav .nav-mobile .box-menuAndBasket .btn-menu-close .menu-icon:active {
  transform: scale(0.95);
  opacity: 0.5;
  transition: 200ms;
}
nav .nav-mobile .box-menuAndBasket .btn-menu-open {
  background-color: white;
}
nav .nav-mobile .box-menuAndBasket .btn-menu-open .close-icon {
  font-size: 55px;
  cursor: pointer;
}
nav .nav-mobile .box-menuAndBasket .btn-menu-open .close-icon:hover {
  transform: scale(1.05);
  transition: 200ms;
  color: #FF4E00;
}
nav .nav-mobile .box-menuAndBasket .btn-menu-open .close-icon:active {
  transform: scale(0.95);
  opacity: 0.5;
  transition: 200ms;
}
nav .nav-mobile .box-menuAndBasket .btn-basket {
  background-color: #FF4E00;
  border: none;
  color: white;
  width: 84px;
  height: 80px;
}
nav .nav-mobile .box-menuAndBasket .btn-basket:hover {
  background-color: white;
  transition: 200ms;
  color: #FF4E00;
}
nav .nav-mobile .box-menuAndBasket .btn-basket .basket-icon {
  cursor: pointer;
  font-size: 45px;
}
nav .nav-mobile .box-menuAndBasket .btn-basket .basket-icon:hover {
  transform: scale(1.05);
  transition: 200ms;
}
nav .nav-mobile .box-menuAndBasket .btn-basket .basket-icon:active {
  transform: scale(0.95);
  opacity: 0.5;
  transition: 200ms;
}
nav .modal {
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.3);
  border-radius: 0 0 25px 24px;
  background-color: rgba(0, 0, 0, 0.212);
}
nav .modal ul {
  background-color: white;
  transition: 200ms;
}
nav .modal ul a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 15px 33px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 18px;
}
nav .modal ul a:active {
  opacity: 0.5;
  transition: 200ms;
  color: #FF4E00;
}
nav .modal .footer-modal {
  padding: 15px 33px 22px 33px;
  background-color: #e5e5e5;
  border-radius: 0 0 25px 25px;
  font-family: "Roboto";
  display: flex;
  justify-content: space-between;
}
nav .modal .footer-modal .left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
  line-height: 21px;
}
nav .modal .footer-modal .left p:nth-child(1) {
  text-transform: uppercase;
  font-weight: 700;
}
nav .modal .footer-modal .right {
  display: flex;
  align-items: center;
}
nav .modal .footer-modal .right a {
  background-color: #FF4E00;
  display: flex;
  border-radius: 50%;
  padding: 10px;
  color: white;
  font-size: 45px;
  transition: 200ms;
}
nav .modal .footer-modal .right a:hover {
  transform: scale(1.05);
  transition: 200ms;
  background-color: white;
  color: #FF4E00;
}
nav .modal .footer-modal .right a:active {
  transform: scale(0.95);
  opacity: 0.5;
  transition: 200ms;
}
nav ._nav-desktop {
  background-color: black;
  padding: 15px 39px;
  display: flex;
  justify-content: space-between;
  transition: 200ms;
}
@media (max-width: 768px) {
  nav ._nav-desktop {
    display: none;
    transition: 200ms;
  }
}
nav ._nav-desktop ._a-logo img {
  width: 196px;
  transition: 200ms;
}
nav ._nav-desktop ._a-logo img:hover {
  transform: scale(1.05);
  transition: 200ms;
}
nav ._nav-desktop ._a-logo img:active {
  transition: 200ms;
  transform: scale(0.95);
  opacity: 0.5;
}
nav ._nav-desktop ul {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: "Montserrat";
  transition: 200ms;
}
nav ._nav-desktop ul li a {
  text-decoration: none;
  color: white;
  display: inline-block;
}
nav ._nav-desktop ul li a:hover {
  color: #FF4E00;
  transition: 200ms;
  transform: scale(1.05);
}
nav ._nav-desktop ul li a:active {
  transform: scale(0.95);
  transition: 200ms;
  opacity: 0.5;
}
nav ._nav-desktop ul li:nth-child(1),
nav ._nav-desktop ul :nth-child(2) {
  font-size: 18px;
}
nav ._nav-desktop ul li:nth-child(3) {
  font-weight: 700;
}
nav ._nav-desktop ul li:nth-child(4),
nav ._nav-desktop ul li:nth-child(5) {
  display: flex;
}
nav ._nav-desktop ul li:nth-child(4) a,
nav ._nav-desktop ul li:nth-child(5) a {
  background-color: #FF4E00;
  display: flex;
  border-radius: 50%;
  padding: 8px;
  color: white;
  font-size: 30px;
  transition: 200ms;
}
nav ._nav-desktop ul li:nth-child(4) a:hover,
nav ._nav-desktop ul li:nth-child(5) a:hover {
  transition: 200ms;
  background-color: white;
  color: #FF4E00;
  transform: scale(1.1);
}
nav ._nav-desktop ul li:nth-child(4) a:active,
nav ._nav-desktop ul li:nth-child(5) a:active {
  transform: scale(0.95);
  transition: 200ms;
  opacity: 0.5;
}

.swiper {
  width: 100%;
  position: relative;
  height: 500px;
}
@media (max-width: 768px) {
  .swiper {
    height: 450px;
  }
}
.swiper .swiper-pagination-fraction,
.swiper .swiper-pagination-custom,
.swiper .swiper-horizontal > .swiper-pagination-bullets,
.swiper .swiper-pagination-bullets.swiper-pagination-horizontal {
  position: absolute;
}
.swiper .swiper-pagination-fraction span,
.swiper .swiper-pagination-custom span,
.swiper .swiper-horizontal > .swiper-pagination-bullets span,
.swiper .swiper-pagination-bullets.swiper-pagination-horizontal span {
  border-radius: 50%;
  border: 6px solid white;
  background-color: white;
  display: inline-block;
}
.swiper .swiper-pagination-fraction span:hover,
.swiper .swiper-pagination-custom span:hover,
.swiper .swiper-horizontal > .swiper-pagination-bullets span:hover,
.swiper .swiper-pagination-bullets.swiper-pagination-horizontal span:hover {
  transform: scale(1.1);
  background-color: #FF4E00;
  border-color: #FF4E00;
  transition: 200ms;
  opacity: 1;
}
.swiper .swiper-pagination-fraction span:active,
.swiper .swiper-pagination-custom span:active,
.swiper .swiper-horizontal > .swiper-pagination-bullets span:active,
.swiper .swiper-pagination-bullets.swiper-pagination-horizontal span:active {
  transform: scale(0.9);
  transition: 200ms;
}

.swiper-slide {
  margin-right: 0;
  min-height: 500px;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  color: rgb(25, 0, 255);
  font-size: 40px;
}

.pizza {
  display: flex;
  transition: 200ms;
}
@media (min-width: 445px) {
  .pizza {
    transition: 200ms;
  }
  .pizza:hover {
    box-shadow: 1px 3px 10px 5px rgba(0, 0, 0, 0.15);
  }
}
@media (min-width: 445px) {
  .pizza {
    padding: 22px 28px;
    transition: 200ms;
    flex-direction: column;
    background-color: white;
    box-shadow: 1px 0 30px 1px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    gap: 22px;
  }
}
@media (max-width: 444px) {
  .pizza {
    border-bottom: 1px solid #c4c4c4;
    transition: 200ms;
    flex-direction: row;
    gap: 10px;
    padding: 10px 0;
  }
}
.pizza .img-box {
  display: flex;
  align-items: center;
  aspect-ratio: 1/1;
}
@media (max-width: 444px) {
  .pizza .img-box {
    width: 45%;
  }
}
.pizza .img-box img {
  width: 100%;
  height: 100%;
  transition: 300ms;
}
.pizza .img-box img:hover {
  transform: scale(1.1) rotate(10deg);
  transition: 300ms;
}
.pizza .box-right {
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 444px) {
  .pizza .box-right {
    width: 55%;
    padding: 20px 0;
    transition: 200ms;
  }
}
@media (max-width: 400px) {
  .pizza .box-right {
    padding: 8px 0;
    transition: 200ms;
  }
}
@media (min-width: 880px) {
  .pizza .box-right {
    height: 100%;
  }
}
.pizza .box-right .right-boxTop {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.pizza .box-right .right-boxTop p:nth-child(1) {
  font-weight: 700;
  font-size: 22px;
}
@media (max-width: 444px) {
  .pizza .box-right .right-boxTop p:nth-child(1) {
    font-size: 18px;
  }
}
.pizza .box-right .right-boxTop p:nth-child(2) {
  font-size: 14px;
}
@media (max-width: 444px) {
  .pizza .box-right .right-boxTop p:nth-child(2) {
    font-size: 12px;
  }
}
@media (min-width: 444px) {
  .pizza .box-right .right-boxTop p:nth-child(2) {
    min-height: 50px;
  }
}
.pizza .box-right .right-boxBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pizza .box-right .right-boxBottom .price {
  font-size: 18px;
  font-weight: 700;
}
.pizza .box-right .right-boxBottom .btn-addToCard {
  background-color: #FF4E00;
  border-radius: 50%;
  border: none;
  color: white;
  padding: 8px;
  font-size: 40px;
  display: flex;
  transition: 200ms;
}
.pizza .box-right .right-boxBottom .btn-addToCard:hover {
  transform: scale(1.05);
  transition: 200ms;
  cursor: pointer;
}
.pizza .box-right .right-boxBottom .btn-addToCard:active {
  transition: 200ms;
  transform: scale(0.95);
  opacity: 0.7;
}

.box-pizzas {
  max-width: 1200px;
  margin: auto;
  padding: 35px 30px 0 30px;
}
@media (max-width: 768px) {
  .box-pizzas {
    padding: 35px 20px 0 20px;
  }
}
.box-pizzas .box-p {
  display: flex;
  justify-content: center;
}
.box-pizzas .box-p .p-pizza {
  text-align: center;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 18px;
  color: white;
  background-color: #FF4E00;
  padding: 9px 10px;
  border-radius: 30px;
}
.box-pizzas .list-pizzas {
  margin-top: 30px;
  display: grid;
}
@media (min-width: 444px) {
  .box-pizzas .list-pizzas {
    gap: 30px;
  }
}
@media (min-width: 600px) {
  .box-pizzas .list-pizzas {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
@media (min-width: 880px) {
  .box-pizzas .list-pizzas {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1064px) {
  .box-pizzas .list-pizzas {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.drink {
  display: flex;
}
@media (min-width: 445px) {
  .drink {
    transition: 200ms;
  }
  .drink:hover {
    box-shadow: 1px 3px 10px 5px rgba(0, 0, 0, 0.15);
  }
}
@media (min-width: 445px) {
  .drink {
    padding: 22px 28px;
    transition: 200ms;
    flex-direction: column;
    background-color: white;
    box-shadow: 1px 0 30px 1px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    gap: 22px;
  }
}
@media (max-width: 444px) {
  .drink {
    border-bottom: 1px solid #c4c4c4;
    transition: 200ms;
    flex-direction: row;
    gap: 10px;
    padding: 10px 0;
  }
}
.drink .img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(235, 235, 235);
  border-radius: 50%;
  position: relative;
  z-index: 5;
  aspect-ratio: 1/1;
}
@media (max-width: 444px) {
  .drink .img-box {
    width: 45%;
  }
}
.drink .img-box img {
  position: absolute;
  transform: scale(0.9);
  z-index: 3;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 50%;
  transition: 300ms;
}
.drink .img-box img:hover {
  transition: 300ms;
  transform: scale(1.1) rotate(10deg);
  overflow: hidden;
  filter: drop-shadow(10px 10px 15px rgba(34, 34, 34, 0.5254901961));
}
.drink .box-right {
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 444px) {
  .drink .box-right {
    width: 55%;
    padding: 30px 0 5px 0;
    transition: 200ms;
  }
}
@media (max-width: 400px) {
  .drink .box-right {
    padding: 30px 0 5px 0;
    transition: 200ms;
  }
}
.drink .box-right .right-boxTop {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.drink .box-right .right-boxTop p:nth-child(1) {
  font-weight: 700;
  font-size: 22px;
}
@media (max-width: 444px) {
  .drink .box-right .right-boxTop p:nth-child(1) {
    font-size: 18px;
  }
}
.drink .box-right .right-boxTop p:nth-child(2) {
  font-size: 14px;
}
@media (max-width: 444px) {
  .drink .box-right .right-boxTop p:nth-child(2) {
    font-size: 12px;
  }
}
@media (min-width: 444px) {
  .drink .box-right .right-boxTop p:nth-child(2) {
    min-height: 50px;
  }
}
.drink .box-right .right-boxBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.drink .box-right .right-boxBottom .price {
  font-size: 18px;
  font-weight: 700;
}
.drink .box-right .right-boxBottom .btn-addToCard {
  background-color: #FF4E00;
  border-radius: 50%;
  border: none;
  color: white;
  padding: 8px;
  font-size: 40px;
  display: flex;
  transition: 200ms;
}
.drink .box-right .right-boxBottom .btn-addToCard:hover {
  transform: scale(1.05);
  transition: 200ms;
  cursor: pointer;
}
.drink .box-right .right-boxBottom .btn-addToCard:active {
  transition: 200ms;
  transform: scale(0.95);
  opacity: 0.7;
}

.box-drinks {
  max-width: 1200px;
  margin: auto;
  padding: 45px 30px 0 30px;
}
@media (max-width: 768px) {
  .box-drinks {
    padding: 35px 20px 0 20px;
  }
}
.box-drinks .box-p {
  display: flex;
  justify-content: center;
}
.box-drinks .box-p .p-drink {
  text-align: center;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 18px;
  color: white;
  background-color: #FF4E00;
  padding: 9px 10px;
  border-radius: 30px;
}
.box-drinks .list-drinks {
  margin-top: 30px;
  display: grid;
}
@media (min-width: 444px) {
  .box-drinks .list-drinks {
    gap: 30px;
  }
}
@media (min-width: 600px) {
  .box-drinks .list-drinks {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
@media (min-width: 880px) {
  .box-drinks .list-drinks {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1064px) {
  .box-drinks .list-drinks {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.delivery {
  background-color: white;
  margin-top: 60px;
}
@media (min-width: 800px) {
  .delivery {
    padding: 30px;
  }
}
.delivery .box-delivery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  transition: 200ms;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 800px) {
  .delivery .box-delivery {
    grid-template-columns: 1fr 1fr;
    transition: 200ms;
  }
}
.delivery .box-delivery .info-delivery {
  font-family: "Roboto";
  padding: 25px 25px 0 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 880px) {
  .delivery .box-delivery .info-delivery {
    padding: 0;
  }
}
@media (min-width: 1064px) {
  .delivery .box-delivery .info-delivery {
    gap: 30px;
    padding-bottom: 30px;
  }
}
.delivery .box-delivery .info-delivery p:nth-child(1) {
  color: #FF4E00;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.delivery .box-delivery .info-delivery p:nth-child(2),
.delivery .box-delivery .info-delivery p:nth-child(3) {
  font-size: 18px;
}
.delivery .box-delivery .map iframe {
  border: none;
  width: 100%;
  height: 400px;
}
@media (min-width: 800px) {
  .delivery .box-delivery .map iframe {
    height: 100%;
    border-radius: 30px;
    box-shadow: 1px 1px 10px 4px rgba(0, 0, 0, 0.2);
  }
}

.about {
  font-family: "Roboto";
  font-size: 18px;
  padding: 45px 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1200px;
  margin: auto;
}
.about p:nth-child(1) {
  color: #FF4E00;
  font-weight: 700;
  text-transform: uppercase;
}/*# sourceMappingURL=styles.css.map */