@use '../global' as *;

.about {
   font-family: $roboto;
   font-size: 18px;
   padding: 45px 25px;
   display: flex;
   flex-direction: column;
   gap: 20px;
   max-width: 1200px;
   margin: auto;

   p:nth-child(1) {
      color: $orange;
      font-weight: 700;
      text-transform: uppercase;
   }
}