@use "../global/" as *;

.shadow-nav {
  transition: 200ms;
  height: 100%;
}
nav {
  background-color: rgba(0, 0, 0, 0.3);
  //   box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
  width: 100%;
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 100;
  transition: 200ms;

  //   Mobile
  .nav-mobile {
    display: flex;
    align-items: center;
    @media (max-width: $md) {
      background-color: black;
      display: flex;
      justify-content: space-between;
      transition: 200ms;
    }
    transition: 200ms;
    display: none;
    .a-phone {
      padding-left: 29px;
      transition: 200ms;
      color: white;
      font-size: 18px;
      font-weight: 700;
      line-height: 18px;
      text-decoration: none;
      display: flex;
      align-items: center;
      font-family: $monst;
      &:hover {
          transform: scale(1.05);
          transition: 200ms;
          color: $orange;
        }
        &:active {
          transform: scale(0.95);
          opacity: 0.5;
          transition: 200ms;
        }
    }

    .a-logo {
      padding-left: 18px;
      display: flex;
      align-items: center;
      .logo {
        width: 196px;
        &:hover {
          transform: scale(1.05);
          transition: 200ms;
        }
        &:active {
          transform: scale(0.95);
          opacity: 0.5;
          transition: 200ms;
        }
      }
    }

    .box-menuAndBasket {
      display: flex;

      .btn-menu-open,
      .btn-menu-close {
        transition: 200ms;
        border: none;
        width: 70px;
        height: 80px;
      }
      .btn-menu-close {
        background-color: transparent;
        .menu-icon {
          font-size: 55px;
          color: white;
          cursor: pointer;
          &:hover {
          transform: scale(1.05);
          transition: 200ms;
          color: $orange;
        }
        &:active {
          transform: scale(0.95);
          opacity: 0.5;
          transition: 200ms;
        }
        }
      }

      .btn-menu-open {
        background-color: white;
        .close-icon {
          font-size: 55px;
          cursor: pointer;
          &:hover {
          transform: scale(1.05);
          transition: 200ms;
          color: $orange;
        }
        &:active {
          transform: scale(0.95);
          opacity: 0.5;
          transition: 200ms;
        }
        }
      }

      .btn-basket {
        background-color: $orange;
        border: none;
        color: white;
        width: 84px;
        height: 80px;
        &:hover {
          background-color: white;
          transition: 200ms;
          color: $orange;
        }
        .basket-icon {
          cursor: pointer;
          font-size: 45px;
          &:hover {
          transform: scale(1.05);
          transition: 200ms;
        }
        &:active {
          transform: scale(0.95);
          opacity: 0.5;
          transition: 200ms;
        }
        }
      }
    }
  }

  .modal {
    box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.3);
    border-radius: 0 0 25px 24px;
    background-color: rgba(0, 0, 0, 0.212);

    ul {
      background-color: white;
      transition: 200ms;
      a {
        display: block;
        text-decoration: none;
        color: black;
        padding: 15px 33px;
        font: {
          family: $monst;
          weight: 700;
          size: 18px;
        }
        &:active {
          opacity: 0.5;
          transition: 200ms;
          color: $orange;
        }
      }
    }

    .footer-modal {
      padding: 15px 33px 22px 33px;
      background-color: #e5e5e5;
      border-radius: 0 0 25px 25px;
      font-family: $roboto;
      display: flex;
      justify-content: space-between;

      .left {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 18px;
        line-height: 21px;
        p:nth-child(1) {
          text-transform: uppercase;
          font-weight: 700;
        }
      }

      .right {
        display: flex;
        align-items: center;
        a {
          background-color: $orange;
          display: flex;
          border-radius: 50%;
          padding: 10px;
          color: white;
          font-size: 45px;
          transition: 200ms;
          &:hover {
          transform: scale(1.05);
          transition: 200ms;
          background-color: white;
          color: $orange;
        }
        &:active {
          transform: scale(0.95);
          opacity: 0.5;
          transition: 200ms;
        }
        }
      }
    }
  }

  //   Desktop
  ._nav-desktop {
    background-color: black;
    padding: 15px 39px;
    display: flex;
    justify-content: space-between;
    transition: 200ms;
    @media (max-width: $md) {
      display: none;
      transition: 200ms;
    }

    ._a-logo {
      img {
        width: 196px;
        &:hover {
          transform: scale(1.05);
          transition: 200ms;
        }
        &:active {
          transition: 200ms;
          transform: scale(0.95);
          opacity: 0.5;
        }
      }
    }

    ul {
      display: flex;
      align-items: center;
      gap: 20px;
      font-family: $monst;
      transition: 200ms;

      li {
        a {
          text-decoration: none;
          color: white;
          display: inline-block;
          &:hover {
            color: $orange;
            transition: 200ms;
            transform: scale(1.05);
          }
          &:active {
            transform: scale(0.95);
            transition: 200ms;
            opacity: 0.5;
          }
        }
      }

      li:nth-child(1),
      :nth-child(2) {
        font-size: 18px;
      }

      li:nth-child(3) {
        font-weight: 700;
      }

      li:nth-child(4),
      li:nth-child(5) {
        display: flex;
        a {
          // background-color: rgba(255, 255, 255, 0.6);
          background-color: $orange;
          display: flex;
          border-radius: 50%;
          padding: 8px;
          color: white;
          font-size: 30px;
          transition: 200ms;
          &:hover {
            transition: 200ms;
            background-color: white;
            color: $orange;
            transform: scale(1.1);
          }
          &:active {
            transform: scale(0.95);
            transition: 200ms;
            opacity: 0.5;
          }
        }
      }
    }
  }
}
