.container {
  margin: 0 auto;
}

.col_gray {
  color: #848FAC;
}

.col_blue {
  color: #192252;
}

.shad {
  box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.065);
}

.imgs {
  width: 100%;
  margin: auto;
}

.foot {
  background: #0B265A;
}

.btns {
  padding: 14px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  border-radius: 4px;
  background: #0E1734;
}
.btns:hover {
  background-color: #6d7aa9;
}

img:hover {
  opacity: 0.7;
}